.select-wrap label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
 }
 
 .select-wrap select {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    font: inherit;
    line-height: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
}
